
body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
  width: auto;
}

/* row always set to 100% width for some reason, removed */
.row>*{
  width: auto;
}